/* put your all custom css rules here */
/* you must not change other scss files */

body {
  // available colors are: blue, green, purple, orange and grey
  --currentColor: var(--blue);

  main div {
    img {
      height: 230px;
    }
  }
  table {
    border:2px solid #000000;
    border-collapse:collapse;
	  font-size:12px;
  }

  th {
    border-bottom:2px solid #000000;
    border-right:2px solid #000000;
    background-color: rgb(77,149,190);
    color: white;
  }

  tr {
    border-bottom:2px solid #000000;
  }
  td {
    border-right:2px solid #000000;
  }

  .concept{
	  color:#005AA2;
	  font-weight:bold;
  }

}
