/* put your all custom css rules here */
/* you must not change other scss files */
body {
  --currentColor: var(--blue); }
  body main div img {
    width: 100%; }
  body main div .inline-img {
    display: inline-block;
    padding: 0.5em; }
    body main div .inline-img img {
      display: inline-block;
      width: auto; }
  body main div code {
    display: initial;
    padding: 0.3em 0.6em; }
