/* put your all custom css rules here */
/* you must not change other scss files */
body {
  --currentColor: var(--blue); }
  body .reverse header {
    height: 40px; }
    body .reverse header .logo-container {
      display: none; }
  body .reverse main {
    height: 1010px; }
    body .reverse main img {
      height: 100%;
      width: auto;
      margin: 0 auto;
      padding: 1px; }
