/* put your all custom css rules here */
/* you must not change other scss files */

body {
    main div {
        img {
            height: 230px;
        }
    }

    .concept {
        color: #7f8e00;
        font-weight: bold;
    }
}
