*, *:before, *:after {
  box-sizing: border-box; }

/* Print settings */
@media print {
  .no-print, .no-print * {
    display: none !important; }
  .print-only {
    display: flex !important; }
  .first-side,
  .reverse {
    height: 100% !important;
    width: 100% !important;
    margin: auto !important;
    box-shadow: none !important; }
  .reverse {
    page-break-before: always; }
  .print-large .cutter {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; } }

.cutter {
  display: none; }

.print-only {
  display: none; }

/* Cut tag */
.cut {
  position: absolute;
  width: 4mm;
  height: 4mm;
  z-index: 1000; }
  .cut.cut-top-left {
    left: 0;
    top: 0; }
  .cut.cut-top-right {
    right: 0;
    top: 0; }
  .cut.cut-bottom-left {
    left: 0;
    bottom: 0; }
  .cut.cut-bottom-right {
    right: 0;
    bottom: 0; }
  .cut.cut-top-left:before, .cut.cut-bottom-left:after, .cut.cut-top-right:before, .cut.cut-bottom-right:after {
    height: 3mm;
    width: 1px;
    display: block;
    background: black;
    position: absolute;
    margin-left: 4mm;
    content: ''; }
  .cut.cut-top-left:after, .cut.cut-top-right:after {
    height: 1px;
    width: 3mm;
    top: 4mm;
    display: block;
    background: black;
    position: absolute;
    content: ''; }
  .cut.cut-top-right:after {
    right: 0; }
  .cut.cut-top-right:before, .cut.cut-bottom-right:after {
    margin-left: 0; }
  .cut.cut-bottom-left:before, .cut.cut-bottom-right:before {
    height: 1px;
    width: 3mm;
    top: 0;
    display: block;
    background: black;
    position: absolute;
    content: ''; }
  .cut.cut-bottom-left:after, .cut.cut-bottom-right:after {
    top: 1mm; }
  .cut.cut-bottom-right:before {
    margin-left: 1mm; }

/* Large sheet print */
.print-large {
  background-color: var(--currentColor); }
  .print-large .reverse,
  .print-large .first-side {
    margin: 4mm 0 !important;
    height: 297mm !important;
    background-color: white; }
    .print-large .reverse main,
    .print-large .first-side main {
      width: calc(100% - 10mm);
      margin: auto; }
    .print-large .reverse header, .print-large .reverse footer,
    .print-large .first-side header,
    .print-large .first-side footer {
      padding: 0 4mm; }
    .print-large .reverse footer,
    .print-large .first-side footer {
      height: 72px; }

/* Normal sheet print */
@page {
  size: 210mm 297mm;
  margin: 0mm; }

.logo-category {
  cursor: pointer; }

body {
  --nb-column: 2;
  --blue: #005AA2;
  --green: #B2BE3A;
  --purple: #8D3589;
  --orange: #D64B13;
  --grey: #80888C;
  --lightgrey: #eeeef0;
  min-width: 740px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: white;
  -webkit-print-color-adjust: exact; }
  body #showPreview {
    display: none; }
    body #showPreview:checked ~ .first-side,
    body #showPreview:checked ~ .reverse {
      width: 21cm;
      height: 29.6cm;
      margin: 20px auto;
      box-shadow: 2px 2px 10px 0px #656565;
      overflow: hidden; }
    body #showPreview:checked ~ hr {
      display: none; }
    body #showPreview:checked ~ .reverse .print-only,
    body #showPreview:checked ~ .first-side .print-only {
      display: flex !important; }
  body .first-side main {
    height: 944px; }
  body .reverse main {
    height: 981px; }
  body .reverse header {
    height: 70px; }
    body .reverse header .logo-container img {
      height: 45px; }
  body .container-colors-header {
    display: flex;
    height: 10px; }
    body .container-colors-header > div {
      width: 25%; }
  body header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--currentColor);
    padding: 0 1%; }
    body header .header-center {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex: 1; }
    body header .logo-container {
      margin: 1em; }
      body header .logo-container img {
        height: 80px; }
    body header .home-button {
      color: white; }
      body header .home-button a {
        color: white; }
      body header .home-button i {
        font-size: 50px; }
      body header .home-button label {
        cursor: pointer; }
    body header .logo-category {
      color: white; }
      body header .logo-category i {
        font-size: 50px; }
    body header .description-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1em 0;
      color: white; }
      body header .description-content > div {
        width: 100%;
        text-align: center; }
      body header .description-content .title {
        text-transform: uppercase;
        font-size: 2em;
        flex: 2; }
      body header .description-content .sub-title {
        flex: 3;
        font-size: 1.25em; }
  body .burger-menu {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: ease .5s;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
    background-color: white;
    z-index: 10; }
    body .burger-menu.hidden {
      transform: translateX(-102%);
      will-change: transform; }
    body .burger-menu button {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border: none;
      width: 24px;
      height: 24px;
      padding: 0;
      margin: 0;
      color: black;
      transition: ease .5s; }
      body .burger-menu button.hidden {
        transform: translateX(130%);
        color: white; }
    body .burger-menu ul {
      flex: 1;
      list-style: none;
      padding: 30px 0 0 0;
      margin: 0;
      overflow-x: hidden;
      overflow-y: auto; }
      body .burger-menu ul li {
        height: 48px;
        line-height: 48px;
        padding: 0 16px; }
        body .burger-menu ul li:hover {
          background: #CCC; }
        body .burger-menu ul li a {
          display: block;
          text-decoration: none;
          color: black; }
  body main {
    display: flex;
    justify-content: space-between; }
    body main > div {
      width: calc(100% / var(--nb-column));
      margin: 0 1%;
      padding: 0 1%;
      z-index: 1; }
      body main > div img {
        display: block;
        margin: 0 auto; }
  body h1 {
    background-color: var(--currentColor);
    opacity: 0.7;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 1em 0 0.5em 0;
    font-weight: bold; }
  body h2 {
    padding: 0.2em;
    font-size: 1em;
    margin: 0.5em 0; }
  body p {
    margin: 1em 0 0.5em 0; }
  body code {
    display: block;
    padding: 0.6em;
    margin: 0.5em 0;
    background-color: var(--lightgrey);
    font-family: 'Droid Sans', monospace, sans-serif;
    white-space: pre-wrap; }
  body ul {
    padding-left: 20px; }
  body footer {
    background-color: var(--currentColor);
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white; }
    body footer a {
      color: white;
      text-decoration: none; }
    body footer img {
      height: 60px;
      width: 60px; }
  body .toast {
    position: fixed;
    z-index: 10;
    bottom: 0;
    background-color: #E23237;
    height: 30px;
    width: 50px; }
    body .toast.next-page {
      right: 0;
      border-radius: 2px 0 0 2px; }
    body .toast.previous-page {
      left: 0;
      border-radius: 0 2px 2px 0; }
    body .toast a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; }
    body .toast .material-icons {
      color: white; }
  body a {
    color: var(--currentColor);
    transition: opacity .25s; }
    body a:hover, body a:active, body a:focus {
      opacity: .8; }
