/* put your all custom css rules here */
/* you must not change other scss files */

body {
  
  .reverse {
	  header {
	   		height: 40px;
	   		.logo-container {
	   			display: none;
	   		}
	  }	

	  main {
	  	height: 1010px;
	  	img {
	  		height: 100%;
	  		width: auto;
	  		margin: 0 auto;
	  		padding: 1px;
	  	}
	  }
	}
}