/* put your all custom css rules here */
/* you must not change other scss files */

body {
  --currentColor: var(--blue);

  .first-side {
    main div {
      img {
        height: 224px;
      }
      p {
        margin: 0.4em 0 0.2em 0;
      }
      ul {
        margin: 0.3em 0;
        font-size: 0.9em;
      }
      code {
        margin: 0.3em 0;
      }
    }
  }
  .reverse {
    main div {
      p {
        margin: 0.7em 0 0.4em 0;
      }
    }
  }
}
