@charset "UTF-8";
/* put your all custom css rules here */
/* you must not change other scss files */
body {
  --currentColor: var(--blue); }
  body main div img {
    height: 230px; }
  body footer a:first-child:before {
    content: "R3-0169-01_Cheatsheet_Dev_Web_sécurisé";
    position: absolute;
    margin-top: 20px; }
