/* put your all custom css rules here */
/* you must not change other scss files */
body {
  --currentColor: var(--purple); }
  body main div img {
    height: 230px; }

.hljs-built_in,
.hljs-attr {
  color: var(--purple); }

.hljs-keyword,
.hljs-string {
  color: #E56399; }
