/* put your all custom css rules here */
/* you must not change other scss files */
body {
  --currentColor: var(--green);
}
body main div img {
  height: 230px;
}
body th {
  background-color: #d2da84;
}
body tr:nth-child(even) {
  background: #CCC;
}
body tr:nth-child(odd) {
  background: #FFF;
}
body tr:nth-child(even) > td:first-child {
  background-color: #eff1d3;
}
body tr:nth-child(odd) > td:first-child {
  background-color: #fdfdfa;
}
body table {
  width: 100%;
}
body code {
  display: inline;
  padding: 0;
}