/* put your all custom css rules here */
/* you must not change other scss files */

body {
  // available colors are: blue, green, purple, orange and grey
  --currentColor: var(--blue);

  main div {
    img {
      height: 230px;
    }
  }
  code {
    padding:0.5em;
  }
}
