/* put your all custom css rules here */
/* you must not change other scss files */

body {
  // available colors are: blue, green, purple, orange and grey
  --currentColor: var(--purple);

  main div {
    img {
      height: 230px;
    }

    .column1:first-child{
        font-size:12px;
    }

    .column2:first-child{
        font-size:12px;
    }
  }
}

.hljs-built_in,
.hljs-attr { color: var(--purple); }
.hljs-keyword,
.hljs-string { color: #E56399; }
