/* put your all custom css rules here */
/* you must not change other scss files */

body {
  // available colors are: blue, green, purple, orange and grey
  --currentColor: var(--green);

  main div {
      img {
        height: 230px;
      }
    }

    th {
      background-color: lighten(#B2BE3A,  20%);
    }

    tr:nth-child(even) {background: #CCC}
    tr:nth-child(odd) {background: #FFF}

    tr:nth-child(even) > td:first-child{
      background-color: lighten(#B2BE3A,  40%);
    }

    tr:nth-child(odd) > td:first-child{
      background-color: lighten(#B2BE3A,  50%);
    }

    table {
      width: 100%;
    }
}
