/* put your all custom css rules here */
/* you must not change other scss files */

body {
  main div {
      img {
        height: 230px;
      }
    }

    table {
      width: 100%;
    }

    code {
      display:inline;
      padding: 0;
    }
}
