/* put your all custom css rules here */
/* you must not change other scss files */

$customPurpleColor: #a593e0;
$whiteColor: white;
$alertColor: lightcoral;
$grayColor: #e6e6e6;

//placeholder to set hover animation
%hoverScale {
  transition: all .25s;
  &:hover{
    transform: scale(1.1);
  }
}

body {
  
  h1{
    line-height: 1em;
  }

  strong{
    color: var(--purple);
  }

  .logo-container{
    img{
      filter: brightness(4);
    }
  }

  main div {
    img {
      max-width: 100%;
      height: auto;
      @extend %hoverScale
    }

    @media print{
        a{
          display: none;
        }
    }
    

    .definitions-flow{

      ul{
        padding: 0;
        display: flex;
        flex-wrap:  wrap;
        justify-content: center;

        li{
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: $grayColor;
          margin: .5em;
          padding: .56em .5em;
          border-radius: .5em;
          text-align: center;
          width: calc(50% - 1em);

          @media print{
            width: 100%;
            margin: .25em 0;
            padding: .55em .5em;

            .color-block{
              padding: .25em 1em;
            }

          }

          @extend %hoverScale;

          &:hover{
            background-color: lighten($customPurpleColor,15%);
          }

          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }

    .color-block{
      background-color: $customPurpleColor;
      color: $whiteColor;
      padding: .5em 1em;
      border-radius: 5px;
    }

    .alert-message{
      background-color: $alertColor;
      color: $whiteColor;
      border-radius: .5em .5em 0 0;
      padding: .5em 1em;
      display: inline-flex;
      align-items: center;
      font-size: .9em;
      line-height: 1em;

      .icon{
        min-width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $whiteColor;
        color: $alertColor;
        text-align: center;
        margin: 0 .5em 0 0;
        font-weight: bolder;
        font-size: 1.3em;
        transition: transform .5s;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover .icon{
        transform: scale(1.2) rotate(25deg);
      }

      & + pre {
        margin-top: 0;
        code{
          margin-top: 0;
        }
      }
    }

    table{
      width: 100%;
      font-size: 1em;

      th, td{
        padding: .5em;
      }
      
      thead{
        tr{
          th{
            text-align: left;
            background-color: $customPurpleColor;
            color: $whiteColor;
          }
        }
      }

      tbody{
        tr{
          background-color: $grayColor;
        }
        tr:nth-child(odd){
          background-color: lighten($grayColor, 5%);
        }
      }

    }

  }
}