/* put your all custom css rules here */
/* you must not change other scss files */
body {
  --currentColor: var(--orange); }
  body main div img {
    height: 230px; }
  body th {
    background-color: #f1885e; }
  body tr:nth-child(even) {
    background: #CCC; }
  body tr:nth-child(odd) {
    background: #FFF; }
  body tr:nth-child(even) > td:first-child {
    background-color: #f9cdbc; }
  body tr:nth-child(odd) > td:first-child {
    background-color: #fdf0eb; }
  body table {
    width: 100%; }
