/* put your all custom css rules here */
/* you must not change other scss files */
@media print {
  .landscape {
    transform: rotate(90deg) translateX(164px) translateY(164px);
    width: 29.7cm;
    height: 21cm;
  }
}
body {
  --currentColor: var(--purple);
}
body #showPreview:checked ~ .reverse .landscape {
  transform: rotate(90deg) translateX(164px) translateY(164px);
  width: 29.7cm;
  height: 21cm;
}
body .reverse header {
  height: 15px;
}
body .reverse main {
  height: 708px;
}
body .reverse main img.sketchnote {
  height: 100%;
  width: auto;
  padding: 1px;
  margin: 0px auto;
  display: block;
}