/* put your all custom css rules here */
/* you must not change other scss files */

@media print {
	.landscape {
   		transform: rotate(90deg) translateX(164px) translateY(164px);
   		width: 29.7cm;
		height: 21cm;
	}
}

body {
  // available colors are: blue, green, purple, orange and grey
  --currentColor: var(--blue);
  

  #showPreview:checked ~ .reverse .landscape {
   		transform: rotate(90deg) translateX(164px) translateY(164px);
   		width: 29.7cm;
		height: 21cm;
	}
        

  .reverse {

	   header {
	   		height: 15px;
	   }

	   main {
	   		height: 708px;
		   
		   img.sketchnote {
		        height:  100%;
		        width: auto;
		        padding: 1px;
		        margin: 0px auto;
		        display: block;
		    }
	    }
	}
}