/* put your all custom css rules here */
/* you must not change other scss files */

body {
  // available colors are: blue, green, purple, orange and grey
  --currentColor: var(--blue);

  main div {
    img {
      width: 100%;
    }

    .inline-img {
      display: inline-block;
      padding: 0 .5em;

      img {
        display: inline-block;
        width: auto;
      }
    }

    code {
      display: initial;
      padding: 0.3em 0.6em;
    }
  }
}
