*, *:before, *:after {
    box-sizing: border-box;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

body {
    --nb-column: 2;
    --blue: #0B6EB4;
    --green: #B2C039;
    --purple: #8D338A;
    --orange: #D64911;
    --grey: #7E898D;

    --currentColor: var(--blue);

    min-width: 740px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: white;
    -webkit-print-color-adjust: exact;

    .container-colors-header {
        display: flex;
        height: 10px;

        & > div {
            width: 25%;
        }
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--currentColor);

        .logo-container {
            margin: 1em;
        }

        .description-content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 1em 0;
            color: white;

            & > div {
                width: 100%;
                text-align: center;
            }

            .title {
                text-transform: uppercase;
                font-size: 2em;
                flex: 2;
            }

            .sub-title {
                flex: 3;
                font-size: 1.25em;
            }
        }
    }

    main {
        display: flex;
        justify-content: space-between;

        & > div {
            width: calc(100% / var(--nb-column));
            margin: 0 1%;
            padding: 1%;
            z-index: 1;

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }

    h1 {
        background-color: var(--currentColor);
        opacity: 0.7;
        color: white;
        padding: 5px;
        text-transform: uppercase;
        font-size: 1.2em;
        margin: 0.5em 0;
    }

    h2 {
        padding: 0.2em;
        font-size: 1em;
        margin: 0.5em 0;
    }

    p {
        margin: 0.5em 0;

        code {
            display: block;
            padding: 0.2em;
            margin: 0.5em 0;
            background-color: lightgrey;
        }
    }

    ul {
        padding-left: 20px;
    }

    footer {
        background-color: var(--currentColor);
        height: 80px;
        display: flex;
        align-items: center;

        .link-content {
            display: flex;
            flex-wrap: wrap;
            color: white;
            padding: 0 0.5em;

            & > div:not(:first-child) {
                flex: 1;
            }

            & > div:first-child {
                height: 40px;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }

        img {
            height: 60px;
            padding: 0.5em 0.5em 0 0;
        }
    }
}