
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e2e2e2;
   --blue: #005AA2;
  font-family: 'open-sans', sans-serif;
  min-width: 740px;

  header  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    height: 108px;
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    position: fixed;
    width: 100%;
    top:0;
  }

  .img-item {
    height: 101px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  .title {
    margin: 5px 0 0 0;
  }

  main {
    display: flex;
    justify-content:space-around;
    padding-top: 108px;


    section {
      width:33%;
      text-align: center;
      h1 {
          i {
              vertical-align: middle;
            }
          padding: 5px;
          text-transform: uppercase;
          font-size: 1.2em;
          margin: 1em 0;
          font-weight: bold;
      }
      .container {
        display: flex;
        flex-wrap: wrap;

         .item {
          margin: 0.3em;
          background-color: #ffffff;
          padding: 1em;
          font-weight: bold;
          border-radius: 2px;
          box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.3);

          &:hover {
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
          }

          img {
            width: 100px;
          }

          a {
            text-decoration: none;
            color:#000;
          }

          div {
            width: 100px;
            text-overflow: ellipsis;
            text-align: center;
          }
        }
      }
    }
  }

  footer {
    background-color:var(--blue);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;

    .link-content {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        color: white;
        padding: 0 0.5em;
        margin: 0 1%;

        & > div {
            flex: 1;
        }

        & > div:first-child {
            height: 40px;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    img {
      height: 60px;
      padding: 0.5em 0.5em 0 0;
    }
  }
}
