/* put your all custom css rules here */
/* you must not change other scss files */
body {
  --currentColor: #28b5d8; }
  body main div img {
    height: 224px; }
  @media print {
    body footer {
      position: fixed;
      bottom: 0; } }
